.DS_Store
.idea/
**/__pycache__/
mosquitto.db
mosquitto.log
infrastructure/containers/mosquitto/log/mosquitto.log
build/
.cache/
.env
infrastructure/containers/alertmanager/telegram_token
firmware/local.conf
infrastructure/containers/victoriametrics-data/

infrastructure/containers/mosquitto/config/passwd
infrastructure/containers/mosquitto/config/certs/ca.crt
infrastructure/containers/mosquitto/config/certs/ca.key
infrastructure/containers/mosquitto/config/certs/server.crt
infrastructure/containers/mosquitto/config/certs/server.key
firmware/src/ca_cert.inc
