&i2c0 {
    status = "disabled";
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SDA_P26>, <I2C1_SCL_P27>;
            input-enable;
            input-schmitt-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";

    bme280@77 {
        compatible = "bosch,bme280";
        reg = <0x77>;
        /* Assuming address 0x77 which is the default for many BME280 modules.
         * If your module uses 0x76, change this to 0x76. */
    };
};
